.uno
build/
.build/
.cache
*.org
~*
*~
*.iml
.gradle
/BladAsnsvarligAppAndroid/local.properties
/BladAsnsvarligAppAndroid/.idea/workspace.xml
/BladAsnsvarligAppAndroid/.idea/libraries
.DS_Store
/BladAsnsvarligAppAndroid/build
/BladAsnsvarligAppAndroid/captures
/BladAnsvarligAppAndroid/.idea/codeStyleSettings.xml
