/*------------------------------------*\
	#FORMS-NEWSLETTER
\*------------------------------------*/

.newsletter__label {
	position: relative;
	display: block;
}

.newsletter__button {
	top: 5px;
	position: relative;
    margin: auto;
	width: 30px;
	height: 30px;
	background-color: $primary;
	border-radius: 50%;
	border: 0;
	i {
		line-height: 1.5;
	}
}

.newsletter__button-container {
	height: 41px;
	text-align: center;
	border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 1px solid #D4D4D4;
    border-right: 1px solid #D4D4D4;
    border-top: 1px solid #D4D4D4;
}

