/*------------------------------------*\
	#FORMS-NEWSLETTER
\*------------------------------------*/

.newsletter__label {
	position: relative;
	display: block;
}

.newsletter__button {
	vertical-align: sub;
    right: 45px;
	position: relative;
    margin: auto;
	width: 30px;
	height: 30px;
	background-color: $primary;
	border-radius: 50%;
	border: 0;
	i {
		line-height: 1.5;
	}
}


