/*------------------------------------*\
		#ICONS-GENERAL
\*------------------------------------*/

// Rules for sizing the icon.
.icon--size-18 {
	height: 18px;
	width: 18px;
}

.icon--size-24 {
	height: 24px;
	width: 24px;
}

.icon--size-36 {
	height: 36px;
	width: 36px;
}

.icon--size-48 {
	height: 48px;
	width: 48px;
}


// Rules for using icons as black on a light background.
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

// Rules for using icons as white on a dark background.
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

//Custom colors
.material-icons.orange600 { color: #FB8C00; }


/*------------------------------------*\
		#ICONS
\*------------------------------------*/

.md-button.md-accent.md-fab:not([disabled]) md-icon.sticky-menu {
	color: $primary;
}

.facebook {
	color: $accent;
    border-radius: 50%;
    background-color: $primary;
}

.carousel__left-controller {
	 @include rotate(-90);
}

.carousel__right-controller {
	 @include rotate(90);
}

.ranking-list-news__star-icon {
	margin: 1rem 0.2rem 1rem 0.2rem;
}	