//Fonts
$main-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$primary:          #F7931E;
$accent:           #F7F7F7;
$warn:             #F44336;
$font-color: 	   #0F0F0F;
$background-color: #FEFEFE;