//Fonts
$main-font: "acumin-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns :      12;
$sidebar-sm-columns :    4;

// Colors
$primary :          	 #F7931E;
$accent :           	 #F7F7F7;
$warn :             	 #F44336;
$font-color : 	    	 #0F0F0F;
$link-color :            #F0F0F0;
$border : 		    	 #D4D4D4;
$background-color-menu : rgba(15, 15, 15, 0.7);
$background-color-head : #FEFEFE;
$background-color-main : #F7F7F7;

//Media Queries - Breakpoints
$small-screen : '(min-width: 320px)';
$medium-screen :'(min-width: 768px)';
$large-screen :'(min-width: 1200px)';

//Retina enabled devices
$webkit-min-pixel-ratio : '(-webkit-min-device-pixel-ratio: 2)';
$mozilla-min-pixel-ratio   : '(min--moz-device-pixel-ratio: 2)';
$opera-min-pixel-ratio     : '(-o-min-device-pixel-ratio: 2/1)';
$min-pizel-ratio                : '(min-device-pixel-ratio: 2)';
$min-resolution                    : '(min-resolution: 192dpi)';
$min-resolution-dppx                : '(min-resolution: 2dppx)';

//URL of website, change if site is moved
$siteurl : 'http://localhost/topp15/web';