/*------------------------------------*\
	#Typography
\*------------------------------------*/

body {
   @include main-font(300); 
   background-color: $background-color;
}

.hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

p + p {   
   text-indent: 1.5em  /* I like to keep the indentation length equal to the line height. */
}

h1 + p:first-letter { 
   font-size: 2em;
   line-height: 0;  /* The line-height must be adjusted to compensate for the increased font size, otherwise the leading for the overall line is disrupted. I find that any values below 0.4 work. */
}





/*------------------------------------*\
	#LISTS
\*------------------------------------*/

ul {
	list-style: none;
}





/*------------------------------------*\
	#LINKS
\*------------------------------------*/

a {
	color: $font-color;
	text-decoration: none;
	
	&:hover {
		text-decoration: underline;
	}
}





/*------------------------------------*\
	#FORMS
\*------------------------------------*/

label {}

input[type="text"] {
	width: 300px;
	height: 35px;
	background-color: $accent;
	border: 1px solid $border;
	border-radius: 20px;
	padding: 2px 0px 2px 15px;
}





/*------------------------------------*\
	#BUTTONS
\*------------------------------------*/

button[type="submit"] {
	
}