body {
   font-family: $main-font; 
   font-weight: 300;
}

.hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

p + p {   
   text-indent: 1.5em  /* I like to keep the indentation length equal to the line height. */
}

h1 + p:first-letter { 
   font-size: 2em;
   line-height: 0;  /* The line-height must be adjusted to compensate for the increased font size, otherwise the leading for the overall line is disrupted. I find that any values below 0.4 work. */
}

	/*------------------------------------*\
		#HEADINGS
	\*------------------------------------*/
	/* Headings 
		Further Reading: 
		- http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/
		- https://css-tricks.com/rems-ems/
	*/
	
	@media only screen 
	and (min-device-width : 320px) 
	and (max-device-width : 480px) {
		/* Smartphones (portrait and landscape) ----------- */
		html {
			font-size: 14px;
		  }
	}
	
	@media only screen 
	and (min-width : 321px) {
		/* Smartphones (landscape) ----------- */
		html {
			font-size: 15px;
		  }
	}
	
	
	@media only screen 
	and (max-width : 320px) {
		/* Smartphones (portrait) ----------- */
		html {
			font-size: 13px;
		  }
	}
	
	
	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) {
		/* iPads (portrait and landscape) ----------- */
		html {
			font-size: 16px;
		  }
	}
	
	
	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : landscape) {
		/* iPads (landscape) ----------- */
		html {
			font-size: 17px;
		  }
	}
	
	
	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : portrait) {
		/* iPads (portrait) ----------- */
		html {
			font-size: 16px;
		  }
	
	}
	
	@media only screen 
	and (min-width : 1200px) {
		/* Desktops and laptops ----------- */
		html {
			font-size: 18px;
		  }
	}
	
	@media only screen 
	and (min-width : 1700px) {
		/* Large screens ----------- */
		html {
			font-size: 19px;
		  }
	}
	
	@media
	only screen and (-webkit-min-device-pixel-ratio : 1.5),
	only screen and (min-device-pixel-ratio : 1.5) {
		/* iPhone 4 ----------- */
		html {
			font-size: 17px;
		  }
	}
	
	/* Modules will scale with document */
	.header {
	  font-size: 1.5rem;
	}
	
	.footer {
	  font-size: 0.75rem;
	}
	
	.sidebar {
	  font-size: 0.85rem;
	}
	
	/* Type will scale with modules */
	h1, h2,
	h3, h4,
	h5, h6,
	.font-header {
	  font-family: $main-font;
	  cursor: text;
	}
	
	h1, .alpha {
	  font-size: 3rem;
	}
	
	h2, .beta {
	  font-size: 2.5rem;
	}
	
	h3, .gamma {
	  font-size: 2rem;
	}
	
	h4, .delta {
	  font-size: 1.5rem;
	}
	
	h5, .epsilon {
	  font-size: 1.25rem;
	}
	
	h6, .zeta {
	  font-size: 1rem;
	}
	
	/* These handle massive type, for less frequently occuring bits of text (e.g. in mastheads and banners). */
	.giga {
	  font-size: 6rem;
	}
	
	.mega {
	  font-size: 5rem;
	}
	
	.kilo {
	  font-size: 4rem;
	}
	
	/* Smaller-than-body-copy sizes here. */
	.small, .milli {
	  font-size: 0.75em;
	}
	
	/* Subheadings */
	.subheading {
	  font-weight: normal;
	}
	

